@model ClawQuest.Models.InputModel
@Html.ValidationSummary(true)
<partial name="_ValidationScriptsPartial" />

@{
    ViewData["Title"] = "Owner Page";
}

<h1> Owner Page</h1>
<p> This is the form to submit changes to the Claw Machine</p>
<form asp-controller ="Owner" asp-action="PopulateToyGrid" method="post">
    <div id="error-message" style="color: red; display: none;">
        You can only select a total of 24 items.
    </div>
    <div class="row">
        @for (int i = 0; i < Model.ItemNames.Count; i++)
        {
            <div class="col-md-4">
                <div class="form-group">
                    <label>@Model.ItemNames[i]</label>
                    <input type="hidden" asp-for="@Model.ItemIds[i]" />
                    <input asp-for="@Model.Quantities[i]" class="game-input form-control" type="number" min="0" max="24" />
                </div>
            </div>
        }
    </div>
    <div class="row mt-5">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
    </div>
    <div class="col-md-4"></div>
    <button type="submit" class="form-control mt-4" style="color: #787878">Store Items</button>
    <div class="col-md-4"></div>
</form>